In [31]:
import pandas as pd
from ast import literal_eval
from typing import List
from IPython.display import display

In [2]:
locations_origins_df = pd.read_csv("final_data/locations_nationalities.csv")

In [3]:
locations_origins_df.shape, locations_origins_df.columns

((2242, 5),
 Index(['entry_id', 'excerpt', 'kw', 'country', 'nationality'], dtype='object'))

In [4]:
locations_df = locations_origins_df[locations_origins_df.country]
origins_df = locations_origins_df[locations_origins_df.nationality]

locations_df.shape, origins_df.shape

((146, 5), (100, 5))

In [5]:
origins_df

,entry_id,excerpt,kw,country,nationality
20,490008,Joint military operations involving the Congol...,[{'congo': 'congolese'}],False,True
25,489595,The sudden increase of the Venezuelan populati...,[{'venezue': 'venezuelan'}],False,True
30,489486,The nine countries featured in this Note conce...,[{'venezue': 'venezuelan'}],False,True
37,489554,The permits granted by the government to Venez...,[{'venezue': 'venezuelans'}],False,True
45,190522,"115,768 Venezuelans displaced abroad are estim...",[{'venezue': 'venezuelans'}],False,True
...,...,...,...,...,...
2139,343649,This situation has made life very difficult to...,[{'congo': 'congolese'}],False,True
2148,456501,This figure contrasts with 36% of Peruvians wh...,[{'peru': 'peruvians'}],False,True
2152,456957,"Finally, they use influencers and means of com...",[{'venezue': 'venezuelan'}],False,True
2236,102503,"For Ecuadorian households, the main difference...",[{'ecuador': 'ecuadorian'}],False,True
2237,102504,"For Ecuadorian households, the main difference...",[{'ecuador': 'ecuadorian'}],False,True

In [16]:
sorted(list(set(locations_df.kw.apply(lambda x: list(literal_eval(x)[0].values())[0]))))

['africa',
 'africa,',
 'africa.',
 'african',
 'argentina',
 'argentina’s',
 'bangladesh',
 'bangladesh,',
 'bangladesh’s',
 'bogotá',
 'brazil,',
 'congo',
 "congo's",
 'damascus',
 'damascus,',
 'damascus.',
 'ecuador',
 'ecuador,',
 'europe,',
 'europe.',
 'guatemala',
 'guatemala,',
 'honduras',
 'honduras,',
 'lebanon',
 'lebanon.',
 'mali',
 'myanmar',
 'nicaragua',
 "nicaragua's",
 'nicaragua,',
 'niger',
 'niger,',
 'niger.',
 'niger.”',
 'peru',
 'peru,',
 'peru.',
 'peru’s',
 'rohinga',
 'sudan’s',
 'syria',
 'syria,',
 'syria.',
 'syrian',
 'syria’s',
 'uruguay',
 'uruguay,',
 'venezuela',
 'venezuela,',
 'venezuela.']

In [35]:
origins_country_kwords = [
 'burundian',
 'ecuadorian',
 'guatemalan',
 'iranian',
 'malian',
 'nicaraguan',
 'peruvian',
 'syrian',
 'venezuelan',
 "libyan",
 "ukrainian",
 "kenyan",
 "australian",
 "italian",
 "colombian",
 "nigerian",
 "chilian",
 "canadian",
 "american",
 "mexican",
 ]


origins_continent_kwords = ['african', 'european', "asian"]

In [36]:
locations_countries = [
 'argentina',
 'bangladesh',
 'brazil,',
 'congo',
 'ecuador',
 'guatemala',
 'honduras',
 'lebanon',
 'mali',
 'myanmar',
 'nicaragua',
 'niger',
 'peru',
 'sudan',
 'syria',
 'uruguay',
 'venezuela', "france", "italy", "switzerland", "canada", "ukraine", "turkey", "chile", "colombia", "libya", "burundi", "poland"]

locations_continents = ['africa', 'europe', "asia"]

locations_cities = ['bogotá', 'damascus', "geneva", "paris", "istanbul", "tokyo", "kiev"]

In [37]:
str(locations_continents)

"['africa', 'europe', 'asia']"

In [38]:
def get_augmented_df(original_df, kw: List[str], name: str):

    df = original_df.copy()
    df['kw'] = df['excerpt'].apply(
        lambda x: [word for word in kw if word in x.lower()]
    )
    df = df[df.kw.apply(lambda x: len(x)==1)]
    df['kw'] = df['kw'].apply(lambda x: x[0])
    df['type'] = 'original'
    print(len(df))

    final_df = pd.DataFrame()
    for i in range(df.shape[0]):
        row = df.iloc[[i]]
        original_row_kw = row["kw"].values[0]
        row["type"] = "augmented"
        for one_kw in kw:
            if one_kw != original_row_kw:
                row_tmp = row.copy()
                row_tmp["excerpt"] = row_tmp["excerpt"].apply(
                    lambda x: x.replace(original_row_kw, one_kw).replace(
                        original_row_kw.capitalize(), one_kw.capitalize()
                    )
                )
                row_tmp["kw"] = [one_kw]
                final_df = final_df.append(row_tmp)

    final_df = pd.concat(
        [df, final_df]
    )

    final_df.to_csv(f'final_data/{name}.csv', index=None)

    return final_df

In [39]:
augmented_locations_continents = get_augmented_df(
    locations_df[['entry_id', 'excerpt']],
    kw=locations_continents,
    name='locations_continents'
)
display(augmented_locations_continents)

augmented_locations_countries = get_augmented_df(
    locations_df[['entry_id', 'excerpt']],
    kw=locations_countries,
    name='locations_countries'
)
display(augmented_locations_countries)

augmented_locations_cities = get_augmented_df(
    locations_df[['entry_id', 'excerpt']],
    kw=locations_cities,
    name='locations_cities'
)
display(augmented_locations_cities)

augmented_origins_country = get_augmented_df(
    origins_df[['entry_id', 'excerpt']],
    kw=origins_country_kwords,
    name='origins_country'
)
display(augmented_origins_country)

augmented_origins_continent = get_augmented_df(
    origins_df[['entry_id', 'excerpt']],
    kw=origins_continent_kwords,
    name='origins_continent'
)
display(augmented_origins_continent)

8

<ipython-input-38-e9c0b3c9eb12>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row["type"] = "augmented"

,entry_id,excerpt,kw,type
63,174902,A quarter (24 per cent) think foreigners broug...,africa,original
135,428831,"InRSF's 2021 World Press Freedom Index, where ...",africa,original
225,313587,"For example, a number of African countries hav...",africa,original
240,451637,"In Africa, 1.7 million children did not receiv...",africa,original
645,158380,Health systems in West Africa suffer from sign...,africa,original
960,389381,The community engagement was part of the Maste...,africa,original
1394,2693,"Some 226 men, 19 women – four of them pregnant...",europe,original
1420,8783,"Since 1 January 2018, Libyan local authorities...",europe,original
63,174902,A quarter (24 per cent) think foreigners broug...,europe,augmented
63,174902,A quarter (24 per cent) think foreigners broug...,asia,augmented
135,428831,"InRSF's 2021 World Press Freedom Index, where ...",europe,augmented
135,428831,"InRSF's 2021 World Press Freedom Index, where ...",asia,augmented
225,313587,"For example, a number of Europen countries hav...",europe,augmented
225,313587,"For example, a number of Asian countries have ...",asia,augmented
240,451637,"In Europe, 1.7 million children did not receiv...",europe,augmented
240,451637,"In Asia, 1.7 million children did not receive ...",asia,augmented
645,158380,Health systems in West Europe suffer from sign...,europe,augmented
645,158380,Health systems in West Asia suffer from signif...,asia,augmented
960,389381,The community engagement was part of the Maste...,europe,augmented
960,389381,The community engagement was part of the Maste...,asia,augmented
1394,2693,"Some 226 men, 19 women – four of them pregnant...",africa,augmented
1394,2693,"Some 226 men, 19 women – four of them pregnant...",asia,augmented
1420,8783,"Since 1 January 2018, Libyan local authorities...",africa,augmented
1420,8783,"Since 1 January 2018, Libyan local authorities...",asia,augmented

127

<ipython-input-38-e9c0b3c9eb12>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row["type"] = "augmented"

,entry_id,excerpt,kw,type
0,187037,The Migration Policy Institute also estimates ...,ecuador,original
1,187553,"In Ecuador, only 51.9 per cent of children und...",ecuador,original
2,243576,The areas in northeastern Syria did not receiv...,syria,original
3,186577,Women constitute 60 percent of general health ...,ecuador,original
7,498771,Uruguay hopes to be able to reopen its borders...,uruguay,original
...,...,...,...,...
2219,208311,In Chile humanitarian organizations and govern...,chile,augmented
2219,208311,In Colombia humanitarian organizations and gov...,colombia,augmented
2219,208311,In Libya humanitarian organizations and govern...,libya,augmented
2219,208311,In Burundi humanitarian organizations and gove...,burundi,augmented
2219,208311,In Poland humanitarian organizations and gover...,poland,augmented

11

<ipython-input-38-e9c0b3c9eb12>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row["type"] = "augmented"

,entry_id,excerpt,kw,type
120,187285,The Colombian Ministry of Health confirmed 990...,bogotá,original
123,327054,"Hospitals in Damascus, including intensive car...",damascus,original
125,201406,Many continue to live in areas with high eleva...,damascus,original
258,161944,The data provided by the Damascus mortuary off...,damascus,original
298,160383,"Bogotá is on red alert, with 84% of ICUs occup...",bogotá,original
...,...,...,...,...
1080,343851,"Meanwhile, reports of violence during demonstr...",geneva,augmented
1080,343851,"Meanwhile, reports of violence during demonstr...",paris,augmented
1080,343851,"Meanwhile, reports of violence during demonstr...",istanbul,augmented
1080,343851,"Meanwhile, reports of violence during demonstr...",tokyo,augmented
1080,343851,"Meanwhile, reports of violence during demonstr...",kiev,augmented

90

<ipython-input-38-e9c0b3c9eb12>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row["type"] = "augmented"

,entry_id,excerpt,kw,type
25,489595,The sudden increase of the Venezuelan populati...,venezuelan,original
30,489486,The nine countries featured in this Note conce...,venezuelan,original
37,489554,The permits granted by the government to Venez...,venezuelan,original
45,190522,"115,768 Venezuelans displaced abroad are estim...",venezuelan,original
46,492598,MEDIAN SMEB COST: FOOD ITEMS (Syrian Pounds): ...,syrian,original
...,...,...,...,...
2237,102504,"For Nigerian households, the main difference l...",nigerian,augmented
2237,102504,"For Chilian households, the main difference li...",chilian,augmented
2237,102504,"For Canadian households, the main difference l...",canadian,augmented
2237,102504,"For American households, the main difference l...",american,augmented
2237,102504,"For Mexican households, the main difference li...",mexican,augmented

2

<ipython-input-38-e9c0b3c9eb12>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row["type"] = "augmented"

,entry_id,excerpt,kw,type
51,190975,"According to these KIs, COVID-19 cannot surviv...",african,original
261,160675,Engagement with state and other partners has c...,african,original
51,190975,"According to these KIs, COVID-19 cannot surviv...",european,augmented
51,190975,"According to these KIs, COVID-19 cannot surviv...",asian,augmented
261,160675,Engagement with state and other partners has c...,european,augmented
261,160675,Engagement with state and other partners has c...,asian,augmented